
 
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script> -->
<script src="{{url_for('static', filename='js/owl.carousel.min.js')}}"></script>
<script src="{{url_for('static', filename='js/cbpAnimatedHeader.js')}}"></script>
<script src="{{url_for('static', filename='js/jquery.appear.js')}}"></script>
<script src="{{url_for('static', filename='js/SmoothScroll.min.js')}}"></script>
<script src="{{url_for('static', filename='js/theme-scripts.js')}}"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->

</html>