* {
	margin: 0;
	padding: 0;
}

html {
	max-width: 100%;
	overflow-x: hidden;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

/*Header CSS*/
.nav-link {
	background-color: transparent !important;
}

.navbar-default {
	border-color: transparent !important;
}

.navbar {
	min-height: 90px;
	margin-bottom: 0px;
}

.navbar-brand {
	height: 90px;
	padding: 0px 15px;
}

.navbar-nav {
	margin: 20px 15px 0px;
	padding: 0px 15px;
}

.block {
	display: block;
	width: 75%;
	border: none;
	background-color: #4CAF50;
	color: white;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	border-radius: 10px;
}

.block:hover {
	background-color: #ddd;
	color: black;
}

.container {
	position: relative;
}

.emails {
	border-radius: 5px;
	padding: 5px;
	margin: 10px auto;
	border-radius: 10px;
	border-width: 3px;
	border-color: orange;
}

/*------------footer-------------*/
.footer {
	padding-top: 50px;
	background: #000;
	color: #fff;
}

.footer h1 {
	font-size: 15px;
	margin: 25px 0;
	color: #fff;
}

.footer p {
	font-size: 12px;
	color: #fff;
}

.copyright {
	text-align: center;
	font-size: 15px;
	padding-bottom: 20px;
	color: #fff;
}

.fa-copyright {
	font-size: 15px;
}

.footer hr {
	margin-top: 10px;
	background-color: #ccc;
}

.footer .row .fa {
	padding-right: 20px;
	font-size: 15px;
}

.footer-image img {
	width: 100%;
}

/*slider style*/
.sliding-body {
	position: relative;
	width: 100%;
}

.bg {
	padding: relative;
	background: url(../imgs/background.png) no-repeat;
	background-position-x: 0%;
	background-position-y: 0%;
	background-repeat: no-repeat;
	background-size: auto;
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: repeat-x;
}

.cloud .cloud01 {
	width: 11%;
	height: 10%;
	margin-top: 2%;
	position: absolute;
	background: transparent url(../imgs/cloud.png) 0 0 no-repeat;
	animation: fly 22s linear infinite;
}

.cloud .cloud02 {
	width: 14%;
	height: 12%;
	margin-top: 5%;
	position: absolute;
	background: transparent url(../imgs/cloud.png) 0 0 no-repeat;
	animation: fly 25s linear infinite;
}

.cloud .cloud03 {
	width: 13%;
	height: 11%;
	margin-top: 3%;
	position: absolute;
	background: transparent url(./imgs/cloud.png) 0 0 no-repeat;
	animation: fly 30s linear infinite;
}

.windmill {
	width: 100px;
	height: 100px;
	position: relative;
	bottom: -50%;
	margin: 15px 15px;
}

.windmill2 {
	width: 130px;
	height: 150px;
	position: relative;
	bottom: -50%;
	left: 20%;
}

.windmill3 {
	width: 80px;
	height: 80px;
	position: relative;
	bottom: -50%;
	left: 59%;
}

.home {
	width: 120px;
	height: 80px;
	position: relative;
	bottom: -59%;
	left: 8%;
}

.home2 {
	width: 160px;
	height: 140px;
	position: relative;
	bottom: -57%;
	left: 53%;
}

.tractor {
	width: 250px;
	height: 200px;
	position: relative;
	bottom: -76%;
	animation: drift 17s linear infinite;
}

@keyframes fly {
	from {
		left: :0px;
		transform: translate(-255px);		  /*background-position: 0 0;*/
	}

	to {
		left: :100px;
		transform: translate(1350px);		  /*background-position: 100% 0;*/
	}

}

.owl-prev,
.owl-next {
	width: 25px;
	height: 25px;
	background-color: transparent;
	margin: 1px;
}

.owl-dot .active span {
	background-color: #000;
}
