* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #FFF;
	font-family: sans-serif;
}

.top-navbar {
	height: 57px;
	top: 0;
	position: sticky;
	background: #fff;
	margin-bottom: 20px;
	border-bottom: 3px solid;
	z-index: 2;
}

.logo {
	height: 90%;
	margin: 0px 10px;
}

.form-control {
	margin-top: 9px;
	margin-left: 30px;
	border: 1px solid #900C3F !important;
	border-top-left-radius: 20px !important;
	border-bottom-left-radius: 20px !important;
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	box-shadow: none !important;
}

.input-group-text {
	background: #900C3F !important;
	border: 1px solid #900C3F !important;
	margin: 8.5px 10px 3px 0 !important;
	border-top-left-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 20px !important;
	border-bottom-right-radius: 20px !important;
	cursor: pointer;
}

/*.collapse ul {
	display: inline-flex;
	float: right;
}
*/
.searchBox {
	display: inline-flex;
	width: 40%;
}

.fa-search {
	color: #fff;
}

.menu-bar {
	width: 40%;
	height: 57px;
	float: right;
}

.menu-bar ul {
	display: inline-flex;
	float: right;
}

.menu-bar ul li {
	border-left: 1px solid #fff;
	list-style-type: none;
	padding: 15px 35px;
	text-align: center;
	background-color: #900C3F;
	cursor: pointer;
}

.menu-bar ul li a {
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
}

.fa-shopping-cart {
	margin-right: 10px;
}

@media only screen and (max-width:980px) {
	.top-navbar {
		height: 118px;
		border-bottom: 0;
	}

	.searchBox {
		width: 100%;
	}

	.menu-bar {
		width: 100%;
	}

	.menu-bar ul {
		margin: 10px 0;
		width: 100%;
	}

	.menu-bar ul li {
		height: 57px;
		width: 100%;
	}

}

/*-------------------------------------*/
.side-menu {
	height: 79%;
	width: 15%;
	font-size: 15px;
	float: left;
	z-index: 2;
	background-color: #D4EFDF;
}

.side-menu ul {
	margin-left: 10px;
}

.side-menu ul li {
	list-style-type: none;
	font-weight: bold;
	margin-top: 10px;
	cursor: pointer;
}

.side-menu ul li:hover {
	color: #27AE60;
}

.side-menu ul li ul {
	display: none;
	z-index: 10;
	top: 77px;
}

..side-menu ul li:hover ul {
	display: block;
	height: 400px;
	margin-left: 14%;
	padding: 0 100px 10px 10;
	position: fixed;
	background: #ececec;
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

.fa-angle-right {
	margin-top: 4px;
	margin-right: 8px;
	float: right;
}

#menu-btn,
#close-btn {
	font-size: 30px;
	margin: 10px;
	color: #900C3F;
	display: none;
}

@media only screen and (max-width:980px) {
	.side-menu {
		width: 34%;
		z-index: 20;
		top: 133px;
		position: fixed;
		font-size: 12px;
		display: none;
	}

	.side-menu ul li ul {
		top: 133px;
	}

	.side-menu ul li:hover ul {
		margin-left: 31%;
	}

	#menu-btn {
		display: block;
	}

}

/*------------slider--------------------*/
.slider {
	width: 85%;
	margin-left: 15%;
	padding: 0 10px;
}

.carousel {
	box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5)
}

.carousel-indicators {
	z-index: 1 !important;
}

@media only screen and (max-width:980px) {
	.slider {
		width: 100%;
		margin-left: 0;
	}

}

/*-------------categories-------------------- */
.featured-categories {
	margin: 50px 0;
}

.featured-categories img {
	width: 100%;
	padding: 20px 0;
	transition: 1s;
	cursor: pointer;
}

.featured-categories img:hover {
	transform: scale(1.1);
}

/*--------------On Sale---------------*/
.title-box {
	background: #900C3F;
	color: #fff;
	width: 180px;
	padding: 4px 10px;
	height: 40px;
	margin-bottom: 30px;
	display: flex;
}

.title-box h2 {
	font-size: 24px;
}

.title-box::after {
	content: '';
	border-top: 40px solid #900C3F;
	border-right: 50px solid transparent;
	position: absolute;
	display: flex;
	margin-top: -4px;
	margin-left: 170px;
}

/*----------producttop-------------------*/
.product-top {
	width: 100%;
}

/*-----------product bottom---------------------------*/
.product-bottom h3 {
	font-size: 20px;
	font-weight: bold;
}

.product-bottom h5 {
	font-size: 15px;
	padding-bottom: 10px;
}

/*------single product------*/
.single-product {
	margin-top: 70px;
}

.new-arrival {
	background: green;
	width: 50px;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	margin-top: 20px;
}

.col-md-7 h2 {
	color: #555;
}

.single-product .fa {
	color: #900C3F;
}

.single-product .price {
	color: #900C3F;
	font-size: 26px;
	font-weight: bold;
	padding-top: 20px;
}

.single-product input {
	border: 1px solid #ccc;
	font-weight: bold;
	height: 33px;
	text-align: center;
	width: 30px;
}

.single-product .btn-primary {
	background: #900C3F !important;
	color: #fff;
	font-size: 15px;
	margin-left: 20px;
	border: none;
	box-shadow: none !important;
}

/*------------Product Desc-----------*/
.product-description h6 {
	margin-top: 50px;
	color: #900C3F;
}

.product-description p {
	margin-top: 30px;
}

.product-description hr {
	margin-bottom: 50px;
}
