<!DOCTYPE html>
<html lang ="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="Kisaan Bazzar">
		<meta name="author" content="Kisaan Bazzar">
		<meta name="keywords" content="Kisaan Bazzar">
		
		<title>Kisaan Bazzar</title>
			<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='logo/kisan-logo.png')}}">
			<link href="{{ url_for('static', filename='css/owl.carousel.css')}}" rel="stylesheet">
			<link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet" media="all">
			<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css')}}">
			<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
			
			<link rel="stylesheet" href="{{ url_for('static', filename='css/style1.css')}}">
			<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
			<link rel="stylesheet" href="{{ url_for('static', filename='css/font-awesome.min.css')}}">
					<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css')}}">
	</head>