<section class="footer">
	<div class="container tex-center">
		<div class="row">
			<div class="col-md-3 col-sm-6">
				<h1><b>Useful links</b></h1>
				<p>Privacy Policy</p>
				<p>Terms of use</p>
				<p>Return Policy</p>
				<p>Discount Coupans</p>
			</div>
			<div class="col-md-3 col-sm-6">
				<h1><b>Company</b></h1>
				<p>About Us</p>
				<p>Contact Us</p>
				<p>Career</p>
				<p>Affiliate</p>
			</div>
			<div class="col-md-3 col-sm-6">
				<h1><b>Follow Us On</b></h1>
				<p><i class="fa fa-facebook-official"></i>Facebook</p>
				<p><i class="fa fa-youtube-play"></i>Youtube</p>
				<p><i class="fa fa-linkedin"></i>LinkedIn</p>
				<p><i class="fa fa-twitter"></i>Twitter</p>
			</div>
			<div class="col-md-3 col-sm-6 footer-image">
				<h1><b>We Are:</b></h1>
				<img src="static/logo/kisan-final.png">
			</div>
		</div>
		<div class="row"><hr>
			<p class="copyright"><i class="fa fa-copyright"></i>
			MAde In India </p></div>
		</div>
	</section>