<!DOCTYPE html>
<html>
<head>
	<title>FarmProducts</title>
	<link rel="icon" type="image/x-icon" href="static/logo/logo.png">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styl.css')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="top-navbar">
		<div class="searchBox">
			<!-- <i class="fa fa-bars" id="menu-btn" onclick="openmenu()"></i> -->
			<!-- <i class="fa fa-times" id="close-btn" onclick="closemenu()"></i> -->

			<img src="static/logo/farmeasy.png" class="logo">
			<input type="text" class="form-control">
			<span class="input-group-text"><i class="fa fa-search"></i></span>
		</div>
		<div class="menu-bar">
			<ul>
				<li><a href="#"><i class="fa fa-shopping-cart"></i>Cart</a></li>
				<li><a href="#">Login</a></li>

			</ul>
		</div>
	</div>

	<section class="header">
		<!-- <div class="side-menu" id="side-menu"> -->
		<!-- <ul> -->
		<!-- <li>On Sale<i class="fa fa-angle-right"></i></li> -->
		<!-- <li>Tractors<i class="fa fa-angle-right"></i></li> -->
		<!-- <li>Trollies<i class="fa fa-angle-right"></i></li> -->
		<!-- </ul>	 -->
		<!-- </div> -->
		<div class="slider">
			<div id="slider" class="carousel slide carousel-fade" data-ride="carousel">
  				<div class="carousel-inner">
    				<div class="carousel-item active">
      					<img src="static/imgs/slider1.jpg" class="d-block w-100">
    				</div>
    				<div class="carousel-item active">
      					<img src="static/imgs/slider2.jpg" class="d-block w-100">
    				</div>
    				<div class="carousel-item">
      					<img src="static/imgs/slider3.jpg" class="d-block w-100">
    				</div>
    				<div class="carousel-item">
      				<img src="static/imgs/slider4.png" class="d-block w-100">
    				</div>
  				</div>
  				<ol class="carousel-indicators">
    			<li data-target="#slider" data-slide-to="0" class="active"></li>
    			<li data-target="#slider" data-slide-to="1"></li>
    			<li data-target="#slider" data-slide-to="2"></li>
    			<li data-target="#slider" data-slide-to="3"></li>
  				</ol>
			</div>
		</div>

	</section>

	<!-----------categories----------->
	<section class="featured-categories">
		<div class="container">
			<div class="row">
				<!--for loop laga -->
				<div class="col-md-4">
					<img src="...">
				</div>
			</div>
		</div>
	</section>
<!-------sale--------->
	<section class="on-sale">
	<div class="container">
		<div class="title-box">
			<h2>On Sale</h2>
		</div>
		<div class="row">
			<div class="col-md-3">
				<!-----for loop laga-------------->
				<div class="product-top">
					<img src="...">
				</div>
				<div class="product-bottom text-center">
					<h3>write name here</h3>
					<h5>Price here</h5>
				</div>
			</div>
		</div>
	</div>
	</section>

	<!-------Footer-------->
	<section class="footer">
		<div class="container tex-center">
			<div class="row">
				<div class="col-md-3">
					<h1>Useful links</h1>
					<p>Privacy Policy</p>	
					<p>Terms of use</p>	
					<p>Return Policy</p>	
					<p>Discount Coupans</p>	
				</div>
				<div class="col-md-3">
					<h1>Company</h1>
					<p>About Us</p>	
					<p>Contact Us</p>	
					<p>Career</p>
					<p>Affiliate</p>	
				</div>
				<div class="col-md-3">
					<h1>Follow Us On</h1>
					<p><i class="fa fa-facebook-official"></i>Facebook</p>	
					<p><i class="fa fa-youtube-play"></i>Youtube</p>	
					<p><i class="fa fa-linkedin"></i>LinkedIn</p>
					<p><i class="fa fa-twitter"></i>Twitter</p>	
				</div>
			</div>
			<hr>
			<p class="copyright"><i class="fa fa-copyright"></i>
MAde In India </p>
		</div>
	</section>







	<script>
		function openmenu()
		{
			document.getElementById("side-menu").style.display="block"
			document.getElementById("menu-btn").style.display="none"
			document.getElementById("close-btn").style.display="block"
		}

		function closemenu()
		{
			document.getElementById("side-menu").style.display="none"
			document.getElementById("menu-btn").style.display="block"
			document.getElementById("close-btn").style.display="none"
		}
	</script>




</body>
</html>