<!DOCTYPE html>
<html lang ="en">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">
	
    <title>Kisaan Bazzar</title>
    <link rel="icon" type="image/x-icon" href="static/logo/kisan-logo.png">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/owl.carousel.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/owl.theme.default.min.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/animate.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/style1.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bgstyle.css')}}" rel="stylesheet" media="all"> 	
	<link href="{{ url_for('static', filename='css/responsive.css')}}" rel="stylesheet" media="all"> 	 

	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	
	
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
	
	
	
	
	<style>
.block {
  display: block;
  width: 75%;
  border: none;
  background-color: #4CAF50;
  color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
}

.block:hover {
  background-color: #ddd;
  color: black;
}
.container {
  position: relative; 
}
.emails{
  border-radius:5px;
  padding: 5px;
  margin: 10px auto;
  border-radius: 10px;
  border-width: 3px;
  border-color: orange;
  
}
</style>
<!-- Login ka css -->
<style>
body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password], input[type=tel] {
 width: 30%;
 padding: 12px 20px;
 margin: 8px 0;
 display: inline-block;
 border: 1px solid #ccc;
 box-sizing: border-box;
 text-align:center;
 font-size:15px;
 border: none;
 background: #FCD12A;
 border-radius: 40px 10px;
 }
 

button {
 background-color: #CC7722;
 padding: 14px 20px;
 margin: 8px 0;
 border: none;
 cursor: pointer;
 width: 35%;
 border-radius:10px;

}



.cancelbtn {
 width: auto;
 padding: 10px 18px;
 background-color: #f44336;
}

.imgcontainer {
 text-align: center;
 margin: 24px 0 12px 0;
 
}

img.avatar {
 width: 20%;
 border-radius: 50%;
}

.container1 {
 padding: 16px;
}

span.psw {
 float: right;
 padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
 span.psw {
    display: block;
    float: none;
 }
 .cancelbtn {
    width: 100%;
 }
}
i.fas:hover, i.fas:active {color: orange;}

.aa-browse-btn {
  display: inline-block;
  font-size: 16px;
  padding: 12px 18px;
  color: #fff;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.aa-browse-btn span {
  margin-left: 5px;
}
.aa-browse-btn:hover, .aa-browse-btn:focus {
  background-color: #fff;
  color:#ff7700;
  
}

.bg-img{
 background-color:#F0F0F0;
 

}



</style>


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#"><img src="static/logo/kisan-final.png" height="70px" width="120px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto text-right">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#about">About Us <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="#contact">Contact Us<span class="sr-only">(current)</span></a>
      </li>
	  <li class="nav-item ">
        <a class="nav-link" href="#partners">Partners<span class="sr-only">(current)</span></a>
      </li>
	  <li class="nav-item ">
        <a class="nav-link" href="#portfolio">Products<span class="sr-only">(current)</span></a>
      </li>
      {% if session.log %}
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i>Cart</a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>

      {%else%}
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
	
        <!-- <a class="nav-link" href="/login">Login</a>  -->
		<a data-toggle="modal" href="/login" class="nav-link">Login</a>
      </li>
        {% endif %}
    </ul>
  </div>
</nav>
    {% include "includes/_message.html" %}
    {% block body%}
    {% endblock %}


    {% if session.log %}<!-- if logged in then show this -->
    <section class="header">
		<div class="side-menu" id="side-menu">
		<!-- <ul>
		<li>On Sale<i class="fa fa-angle-right"></i></li>
		<li>Tractors<i class="fa fa-angle-right"></i></li>
		<li>Trollies<i class="fa fa-angle-right"></i></li>
		</ul>	 -->
		</div>
		<div class="slider">
			<div id="slider" class="carousel slide carousel-fade" data-ride="carousel">
  				<div class="carousel-inner">
    				<div class="carousel-item active">
      					<img src="static/imgs/slider1.jpg" class="d-block w-100">
    				</div>
    				<div class="carousel-item active">
      					<img src="static/imgs/slider2.jpg" class="d-block w-100">
    				</div>
    				<div class="carousel-item">
      					<img src="static/imgs/slider3.jpg" class="d-block w-100">
    				</div>
    				<div class="carousel-item">
      				<img src="static/imgs/slider4.png" class="d-block w-100">
    				</div>
  				</div>
  				<ol class="carousel-indicators">
    			<li data-target="#slider" data-slide-to="0" class="active"></li>
    			<li data-target="#slider" data-slide-to="1"></li>
    			<li data-target="#slider" data-slide-to="2"></li>
    			<li data-target="#slider" data-slide-to="3"></li>
  				</ol>
			</div>
		</div>
	</section>


  <!-----------categories----------->
	<section class="featured-categories">
		<div class="container">
			<div class="row">
				<!--for loop laga -->
				<div class="col-md-4">
					<img src="...">
				</div>
			</div>
		</div>
	</section>

  <!-------sale--------->
	<section class="on-sale">
	<div class="container">
		<div class="title-box">
			<h2>On Sale</h2>
		</div>
		<div class="row">
			<div class="col-md-3">
				<!-----for loop laga-------------->
				<div class="product-top">
					<img src="...">
				</div>
				<div class="product-bottom text-center">
					<h3>write name here</h3>
					<h5>Price here</h5>
				</div>
			</div>
		</div>
	</div>
	</section>
{%else%}
  <div class="containers">
  <!-- Trigger the modal with a button -->
  

  <!-- Modal -->
  <div class="modal fade" id="loginpopup" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
		  <center><h4 class="modal-title" style="margin-left:-500px">Welcome to KisaanBazaar</h4></center><br>
        </div>
        <div class="modal-body">
		<center>
		  <input class="emails" type="text" placeholder="Mobile Number" name="email" required><br><br>
		  </center>
		  

		  <center>
		
		  <input class="emails" type="password" placeholder="Password" name="psw" required><br><br>
		  </center>

		  <center><button type="submit" class="block" width="20%">Login</button></center>
        </div>
        <!-- <div class="modal-footer"> -->
		<!-- <center><a href="/register"><button type="button">REGISTER</button></a></center> -->
			
          <!-- <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button> --> 
        <!-- </div> -->
      </div>
      
    </div>
  </div>
  
</div>
{% endif %}
<!-- footer -->
<section class="footer">
		<div class="container tex-center">
			<div class="row">
				<div class="col-md-3">
					<h1>Useful links</h1>
					<p>Privacy Policy</p>	
					<p>Terms of use</p>	
					<p>Return Policy</p>	
					<p>Discount Coupans</p>	
				</div>
				<div class="col-md-3">
					<h1>Company</h1>
					<p>About Us</p>	
					<p>Contact Us</p>	
					<p>Career</p>
					<p>Affiliate</p>	
				</div>
				<div class="col-md-3">
					<h1>Follow Us On</h1>
					<p><i class="fa fa-facebook-official"></i>Facebook</p>	
					<p><i class="fa fa-youtube-play"></i>Youtube</p>	
					<p><i class="fa fa-linkedin"></i>LinkedIn</p>
					<p><i class="fa fa-twitter"></i>Twitter</p>	
				</div>
        <div class="col-md-3 footer-image">
        <h1>We Are:</h1>
        <img src="static/logo/kisan-final.png">
        </div>
			</div>
			<hr>
			<p class="copyright"><i class="fa fa-copyright"></i>
MAde In India </p>
		</div>
	</section>
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="static/js/bootstrap.min.js"></script>
		<script src="static/js/cbpAnimatedHeader.js"></script>
		<script src="static/js/jquery.appear.js"></script>
		<script src="static/js/SmoothScroll.min.js"></script>
				<script src="static/js/owl.carousel.min.js"></script>

		<script src="static/js/theme-scripts.js"></script>
		
		
		
		
		
		
		
		
		
		
		

</body>
</html>