{% extends "layout.html"%}

{% block body%}



<center><h2>Login Form</h2></center>
<div class="bg-img">
<form action="" method="POST">

 
 <div class="container1" align="center">
   
   <input type="text" placeholder="Enter Username" name="uname" required><br>

  
   <input type="password" placeholder="Enter Password" name="psw" required><br>

   <button type="submit" style="font-size:20px" class="aa-browse-btn">Login</button>
   <!-- <label> -->
     <!-- <input type="checkbox" checked="checked" name="remember"> Remember me -->
   <!-- </label> -->
 </div>
 <!-- <div class="container" style="background-color:#f1f1f1"> -->
   <!-- <button type="button" class="cancelbtn">Cancel</button> -->
   <!-- <!-- <span class="psw">Forgot <a href="#">password?</a></span> --> 
 <!-- </div> -->
</form>

</div>
    
{%endblock%}