{% extends "layout.html"%}
{% block body%}
	
    <center><h1>Product Registration</h1></center>
	<div class="bg-img">
    <form action="/addtocart" method="POST">
 

 <div class="container1" align="center">
   
   <input type="text" placeholder="First Name" name="fname" required><br>
   <input type="text" placeholder="Last Name" name="fname" required><br>
   <input type="text" placeholder="UserName" name="fname" required><br>
    <input type="password" placeholder="Enter Password" name="psw" required><br>
   <input type="password" placeholder="Confirm Password" name="fname" required><br>
   <input type="tel" placeholder="Mobile Number" name="fname" required><br>

  
  

   <button type="submit" style="font-size:17px" class="aa-browse-btn">Submit</button>
   <!-- <label> -->
     <!-- <input type="checkbox" checked="checked" name="remember"> Remember me -->
   <!-- </label> -->
 </div>
 <!-- <div class="container" style="background-color:#f1f1f1"> -->
   <!-- <button type="button" class="cancelbtn">Cancel</button> -->
   <!-- <!-- <span class="psw">Forgot <a href="#">password?</a></span> --> 
 <!-- </div> -->
</form>
</div>
{%endblock%}